<a href="https://colab.research.google.com/github/paulinawdowiak1/ML-Bootcamp/blob/main/supervised/ML_Bootcamp_feature_extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import sklearn

sklearn.__version__

'1.0.2'

### <a name='1'></a> Za≈Çadowanie danych

In [2]:
def fetch_financial_data(company='AMZN'):
    """
    This function fetches stock market quotations.
    """
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

df_raw = fetch_financial_data()
df_raw.head()

             Open    High    Low  Close     Volume
Date
2023-01-17  98.68  98.890  95.73  96.05   72755001
2023-01-13  94.18  98.370  94.12  98.12   85549432
2023-01-12  96.93  97.190  93.50  95.27   85254781
2023-01-11  90.93  95.260  90.93  95.09  103126183
2023-01-10  87.57  90.185  87.29  89.87   67756601

In [3]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1257 entries, 2023-01-17 to 2018-01-19
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1257 non-null   float64
 1   High    1257 non-null   float64
 2   Low     1257 non-null   float64
 3   Close   1257 non-null   float64
 4   Volume  1257 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 58.9 KB

In [4]:
df = df_raw.copy()

#Generowanie nowych zmiennych

In [9]:
print(df.index)
print(df.index.month)

DatetimeIndex(['2023-01-17', '2023-01-13', '2023-01-12', '2023-01-11',
               '2023-01-10', '2023-01-09', '2023-01-06', '2023-01-05',
               '2023-01-04', '2023-01-03',
               ...
               '2018-02-01', '2018-01-31', '2018-01-30', '2018-01-29',
               '2018-01-26', '2018-01-25', '2018-01-24', '2018-01-23',
               '2018-01-22', '2018-01-19'],
              dtype='datetime64[ns]', name='Date', length=1257, freq=None)
Int64Index([1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
            ...
            2, 1, 1, 1, 1, 1, 1, 1, 1, 1],
           dtype='int64', name='Date', length=1257)

In [7]:
df['day']=df.index.day
df['month'] = df.index.month
df['year']=df.index.year
df

               Open     High      Low    Close     Volume  day  month  year
Date
2023-01-17  98.6800  98.8900  95.7300  96.0500   72755001   17      1  2023
2023-01-13  94.1800  98.3700  94.1200  98.1200   85549432   13      1  2023
2023-01-12  96.9300  97.1900  93.5000  95.2700   85254781   12      1  2023
2023-01-11  90.9300  95.2600  90.9300  95.0900  103126183   11      1  2023
2023-01-10  87.5700  90.1850  87.2900  89.8700   67756601   10      1  2023
...             ...      ...      ...      ...        ...  ...    ...   ...
2018-01-25  68.4000  68.9170  67.8810  68.8975   94845860   25      1  2018
2018-01-24  68.7410  69.4080  66.9000  67.8755  135630340   24      1  2018
2018-01-23  66.9045  68.2450  66.8670  68.1270  102883040   23      1  2018
2018-01-22  64.8585  66.3725  64.8330  66.3655   82537660   22      1  2018
2018-01-19  65.6000  65.6500  64.6495  64.7290   90395880   19      1  2018

[1257 rows x 8 columns]

#Dyskretyzacja zmiennej ciƒÖg≈Çej

In [13]:
df = pd.DataFrame(data={'height': [175., 178.5, 185., 191., 184.5, 183., 168.]})
df

   height
0   175.0
1   178.5
2   185.0
3   191.0
4   184.5
5   183.0
6   168.0

In [14]:
#dyskretyzacja - dodawanie nowej kolumny z przedzia≈Çami naszej zmiennej / bins - liczba podzia≈Ç√≥w
df['height_cat']=pd.cut(x=df.height, bins=3)
df

   height          height_cat
0   175.0  (167.977, 175.667]
1   178.5  (175.667, 183.333]
2   185.0    (183.333, 191.0]
3   191.0    (183.333, 191.0]
4   184.5    (183.333, 191.0]
5   183.0  (175.667, 183.333]
6   168.0  (167.977, 175.667]

In [15]:
#korzystajƒÖc z bins mo≈ºemy wprowadziƒá w≈Çasny podzia≈Ç
df['height_cat']=pd.cut(x=df.height, bins=(160, 175, 180, 195))
df

   height  height_cat
0   175.0  (160, 175]
1   178.5  (175, 180]
2   185.0  (180, 195]
3   191.0  (180, 195]
4   184.5  (180, 195]
5   183.0  (180, 195]
6   168.0  (160, 175]

In [16]:
#dyskretyzacja z labelami dla bins√≥w
df['height_cat']=pd.cut(x=df.height, bins=(160, 175, 180, 195), labels=['small','medium','high'])
df

   height height_cat
0   175.0      small
1   178.5     medium
2   185.0       high
3   191.0       high
4   184.5       high
5   183.0       high
6   168.0      small

In [17]:
pd.get_dummies(df, drop_first=True, prefix='height')

   height  height_medium  height_high
0   175.0              0            0
1   178.5              1            0
2   185.0              0            1
3   191.0              0            1
4   184.5              0            1
5   183.0              0            1
6   168.0              0            0

#Ekstrakcja cech - wydobywanie kolejnych zmiennych

In [18]:
df = pd.DataFrame(data={'lang': [['PL', 'ENG'], ['GER', 'ENG', 'PL', 'FRA'], ['RUS']]})
df

                  lang
0            [PL, ENG]
1  [GER, ENG, PL, FRA]
2                [RUS]

In [19]:
df['lang_number']=df['lang'].apply(len)
df

                  lang  lang_number
0            [PL, ENG]            2
1  [GER, ENG, PL, FRA]            4
2                [RUS]            1

In [20]:
df['PL_flag'] = df['lang'].apply(lambda x:1 if 'PL' in x else 0)
df

                  lang  lang_number  PL_flag
0            [PL, ENG]            2        1
1  [GER, ENG, PL, FRA]            4        1
2                [RUS]            1        0

In [21]:
df = pd.DataFrame(data={'website': ['wp.pl', 'onet.pl', 'google.com']})
df

      website
0       wp.pl
1     onet.pl
2  google.com

In [22]:
#str - bƒôdziemy uzywac metod tekstowych, split bƒôdzie po '.', expand nam rozdziela 
df.website.str.split('.', expand = True)

        0    1
0      wp   pl
1    onet   pl
2  google  com

In [23]:
new = df.website.str.split('.', expand = True)
df['portal'] = new[0]
df['extension']=new[1]
df

      website  portal extension
0       wp.pl      wp        pl
1     onet.pl    onet        pl
2  google.com  google       com